In [2]:
nams= ["John","Mary","George","Hellen"]

In [3]:
nams.index("John")

0

In [4]:
for nam in nams:
    print(nams.index(nam))

0
1
2
3

In [5]:
lst_index = []
for nam in nams:
    lst_index.append(nams.index(nam))
lst_index

[0, 1, 2, 3]

In [6]:
[nams.index(nam) for nam in nams]

[0, 1, 2, 3]

In [35]:
names= ["John","Mary","George","Hellen"]
uppernames = []
for nam in names:
    uppernames.append(nam.upper())
uppernames

['JOHN', 'MARY', 'GEORGE', 'HELLEN']

In [39]:
[nam.upper() for nam in names]

['JOHN', 'MARY', 'GEORGE', 'HELLEN']

In [8]:
import pandas as pd
uppersas= pd.DataFrame(uppersas)
uppersas

        0
0    JOHN
1    MARY
2  GEORGE
3  HELLEN

In [9]:
# for ind in range(len(nams)):
#     uppersas.append(nams[ind].upper())
# uppersas

In [10]:
range(len(nams))

range(0, 4)

In [11]:
nams[0]

'John'

In [12]:
nums = [1,4,18,19,11,23,27,28]
prime_numbers = []

for num in nums:
    iterate_val = range(1,num-1)
    dummy_list = []
    for p in iterate_val:
        if num%p==0:
            dummy_list.append(p)
    if(len(dummy_list))>1:
        prime_numbers.append(num)

In [13]:
prime_numbers

[4, 18, 27, 28]

In [14]:
even_numnbers= []
for num in nums:
    if num%2==0:
        even_numnbers.append(num)

In [15]:
even_numnbers

[4, 18, 28]

In [43]:
ven_comp = [num for num in even_numnbers if num%2==0]
ven_comp

[4, 18, 28]

In [16]:
odd_numnbers= []
for num in nums:
    if not num%2==0:
        odd_numnbers.append(num)

In [17]:
odd_numnbers

[1, 19, 11, 23, 27]

In [49]:
[num for num in nums if 
 len([p for p in range(1,num-1) if num%p==0 and p>1])<1]

[1, 19, 11, 23]

In [55]:
def prime_vals(n):
    nums=range(1,n+1)
    prime_vals=[num for num in nums if
    len([p for p in range(1,num-1) if num%p==0 and p>1])<1]
    retun(prime_vals)

In [59]:
nams=nams
index_val = [i for i in range(len(nams))]

zip(names, index_val)

In [63]:
{k:v for k,v in zip(nams,index_val)}

{'John': 0, 'Mary': 1, 'George': 2, 'Hellen': 3}

In [65]:
dict_val={k:v for k,v in zip(nams,index_val)}
dict_val

{'John': 0, 'Mary': 1, 'George': 2, 'Hellen': 3}

In [77]:
names= ["John","Mary","George","Hellen"]
age= [24,28,25,26]
data=pd.Series(names,age)
data

24      John
28      Mary
25    George
26    Hellen
dtype: object

# Exercise

## 1. Given a list of integers, [1, 2, 3, 4, 5], write a list comprehension that returns a new
list where each number is squared, cubed and another one as power of itself.

In [127]:
import numpy as np
df = [1,2,3,4,5]

In [128]:
def compute(df):
    sqr  = [x ** 2 for x in df]
    cube = [x ** 3 for x in df]
    power = [x ** x for x in df]
    return sqrt,cube,power
sqr,cube,power = compute(df)

In [131]:
print(df)
print(sqr)
print(cube)
print(power)

[1, 2, 3, 4, 5]
[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]
[1, 8, 27, 64, 125]
[1, 4, 27, 256, 3125]

## 2a Write a list comprehension that filters out only the even numbers from the list [10,15, 20, 25, 30, 35].

In [140]:
numbers =  [10, 15, 20, 25, 30, 35]
even_numnbers= []
for num in numbers:
    if num%2==0:
        even_numnbers.append(num)

In [142]:
even_list = [num for num in even_numnbers if num%2==0]
even_list

[10, 20, 30]

## 2b Write a list comprehenion/for loop that retuns every 4th value in range of 1 to 100

In [145]:
for i in range(1,101,4):
    print(i)

1
5
9
13
17
21
25
29
33
37
41
45
49
53
57
61
65
69
73
77
81
85
89
93
97

In [150]:
fth_value = [i for i in range(1,101,4)]
print(fth_value)

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97]

## 3a. You have a list of strings, ["apple", "banana", "cherry"]. Write a list comprehension that converts each string to uppercase.

In [163]:
fruits = ["apple", "banana", "cherry"]

In [167]:
fruits_upper = [word.upper() for word in fruits]
print(fruits_upper)

['APPLE', 'BANANA', 'CHERRY']

## 3b. Now create a dictionary comprehension to output the fruit as key and length of each character in the fruit as value

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruit_lengths = {fruit: len(fruit) for fruit in fruits}
print(fruit_lengths)

## 4. List comprehension that returns "even" for each even number, and "odd" for each odd number from a list.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even_odd = ["even" if num % 2 == 0 else "odd" for num in numbers]
print(even_odd)

## 5a. List comprehension that extracts the first letter from each word

In [7]:
words = ["John", "Jane", "Erick", "Benard", "Comprehension"]
first_letters = [word[0] for word in words]
print(first_letters)

['J', 'J', 'E', 'B', 'C']

## 5b. Save the outputs from 5a as a dictionary, using the name as key and first character as value

In [10]:
name_first_letter = {word: word[0] for word in words}
print(name_first_letter)

{'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

## 5c. Convert the outputs from 3b, 4, 5a, and 5b into functions and test them.

In [13]:
# Function for 3b: Fruit lengths
def fruit_lengths(fruits):
    return {fruit: len(fruit) for fruit in fruits}

# Function for 4: Even or Odd
def even_odd_status(numbers):
    return ["even" if num % 2 == 0 else "odd" for num in numbers]

# Function for 5a: First letter from each word
def first_letters(words):
    return [word[0] for word in words]

# Function for 5b: Dictionary of names and first letters
def name_first_letter(words):
    return {word: word[0] for word in words}

# Testing the functions
print(fruit_lengths(['apple', 'banana', 'cherry', 'date']))
print(even_odd_status([1, 2, 3, 4, 5, 6]))
print(first_letters(["John", "Jane", "Erick", "Benard", "Comprehension"]))
print(name_first_letter(["John", "Jane", "Erick", "Benard", "Comprehension"]))

{'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4}
['odd', 'even', 'odd', 'even', 'odd', 'even']
['J', 'J', 'E', 'B', 'C']
{'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

## 6. Create a dictionary containing lists for 4 attributes (full name, age, weight, location, gender) of 10 students.

In [16]:
students_data = {
    "full_name": ["John Doe", "Jane Smith", "Erick Brown", "Benard White", "Comprehension Green", "Alice Blue", "Bob Red", "Charlie Black", "David Yellow", "Eva Purple"],
    "age": [20, 22, 21, 23, 24, 25, 26, 27, 28, 29],
    "weight": [70, 60, 75, 80, 65, 55, 72, 78, 68, 63],
    "location": ["New York", "California", "Texas", "Florida", "Nevada", "Oregon", "Arizona", "Illinois", "Ohio", "Michigan"],
    "gender": ["Male", "Female", "Male", "Male", "Female", "Female", "Male", "Male", "Male", "Female"]
}

print(students_data)

{'full_name': ['John Doe', 'Jane Smith', 'Erick Brown', 'Benard White', 'Comprehension Green', 'Alice Blue', 'Bob Red', 'Charlie Black', 'David Yellow', 'Eva Purple'], 'age': [20, 22, 21, 23, 24, 25, 26, 27, 28, 29], 'weight': [70, 60, 75, 80, 65, 55, 72, 78, 68, 63], 'location': ['New York', 'California', 'Texas', 'Florida', 'Nevada', 'Oregon', 'Arizona', 'Illinois', 'Ohio', 'Michigan'], 'gender': ['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female']}

## 7. Convert the output from number 6 into a pandas dataframe.

In [19]:
import pandas as pd
df = pd.DataFrame(students_data)
print(df)

             full_name  age  weight    location  gender
0             John Doe   20      70    New York    Male
1           Jane Smith   22      60  California  Female
2          Erick Brown   21      75       Texas    Male
3         Benard White   23      80     Florida    Male
4  Comprehension Green   24      65      Nevada  Female
5           Alice Blue   25      55      Oregon  Female
6              Bob Red   26      72     Arizona    Male
7        Charlie Black   27      78    Illinois    Male
8         David Yellow   28      68        Ohio    Male
9           Eva Purple   29      63    Michigan  Female

## 8. Create a new dictionary with the name of students as keys and their gender as values using dictionary comprehension.

In [22]:
name_gender = {students_data["full_name"][i]: students_data["gender"][i] for i in range(len(students_data["full_name"]))}
print(name_gender)

{'John Doe': 'Male', 'Jane Smith': 'Female', 'Erick Brown': 'Male', 'Benard White': 'Male', 'Comprehension Green': 'Female', 'Alice Blue': 'Female', 'Bob Red': 'Male', 'Charlie Black': 'Male', 'David Yellow': 'Male', 'Eva Purple': 'Female'}